<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <link href="//fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet" type="text/css"/>
  <style type="text/css">{{{ styles.default.content }}}</style>
  <link rel="canonical" href="TODO">
  <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml" />  
</head>

 
    