<!DOCTYPE html>
<html>

{{> head }}

<body>
  {{> header }}
  <div class="page-content">
    <div class="wrapper">
      {{> sidebar }}
      <ul class="post-list">
        {{#each pages}}
        <li>
          <span class="post-meta">{{ this.date }}</span>
          <h2>
            <a class="post-link" href="/{{ this.slug }}">{{this.title}}</a>
          </h2>
          <p>[TODO: Abstract]</p>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
  <div class="wrapper">
    {{> footer }}
  </div>
</body>
</html>