---
title: Posts
---
{{#> default }}
<div>
  <h1>Posts</h1>
  <ul class="post-list">
    {{#each pages}}
    <li>
      {{ dateFormat this.date "dd mmm yyyy" }}&nbsp;<a class="post-link" href="/{{ this.path }}">{{ this.title }}</a>
    </li>
    {{/each}}
  </ul>
</div>
{{/default}}