{{#> default }}
<div>
  <h1>This year's posts</h1>
  <ul class="post-list">
    {{#each pages}}
    <li>
      <a class="post-link" href="/{{ this.slug }}">{{this.title}}</a>
    </li>
    {{/each}}
  </ul>
</div>
{{/default}}