<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url={{ this.slug }}">
    <link rel="canonical" href="{{ this.slug }}" />
</head>
<body>
    Moved to <a href="{{ this.slug }}">{{ this.slug }}<a/>.
  </body>
</html>