<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  {{> header }}
  <div class="page-content">
    <div class="wrapper">
      {{> sidebar }}
      {{> @partial-block }}
      {{> footer }}
    </div>
</body>

</html>