<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url={{ this.path }}">
    <link rel="canonical" href="{{ this.path }}" />
</head>
<body>
    Moved to <a href="{{ this.path }}">{{ this.path }}<a/>.
  </body>
</html>